---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: biopro-dlq
  labels:
    app: orders
spec:
  type: ClusterIP
  selector:
    app: orders
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
